[Unit]
Description=%i LXC
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/lxc-start -n %i
ExecStop=/usr/bin/lxc-stop -k -n %i

[Install]
WantedBy=multi-user.target
